import {
  async,
  beforeEachProviders,
  describe,
  ddescribe,
  expect,
  iit,
  it,
  inject
} from '@angular/core/testing';

import { ComponentFixture, TestComponentBuilder } from '@angular/compiler/testing';
import { provide, Component } from '@angular/core';
import { {{className}} } from './{{directiveName}}.directive';

@Component({
  selector: 'test-component',
  template: `<div {{directiveName}}></div>`,
  directives: [{{className}}]
})
class TestComponent {
}

describe('{{className}} Directive', () => {

  let tcb: TestComponentBuilder;
  beforeEachProviders((): any[] => [{{className}}]);
  beforeEach(inject([TestComponentBuilder], (_tcb: TestComponentBuilder) => {
    tcb = _tcb;
  }));

  it('should ...', async(inject([], () => {
    return tcb.createAsync(TestComponent).then((fixture: ComponentFixture<any>) => {
      fixture.detectChanges();
    });
  })));
});
