import {
  beforeEachProviders,
  it,
  describe,
  expect,
  inject
} from '@angular/core/testing';

import { {{className}} } from './{{serviceName}}.service';

describe('{{className}} Service', () => {

  let service: {{className}};
  beforeEachProviders(() => [{{className}}]);
  beforeEach(inject([{{className}}], (_service: {{className}}) => {
    service = _service;
  }));

  it('should ...', () => {
    expect(service).toBeTruthy();
  });
});
