import {
  it,
  describe,
  expect,
  inject,
  beforeEachProviders
} from '@angular/core/testing';

import { {{className}} } from './{{pipeNameKebab}}.pipe';

describe('{{className}}', () => {

  let pipe: {{className}};
  beforeEachProviders(() => [{{className}}]);
  beforeEach(inject([{{className}}], (_pipe: {{className}}) => {
    pipe = _pipe;
  }));

  it('should transform the input', () => {
    expect(pipe.transform(true)).toBeNull();
  });
});
